body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
  }
  
  .scoreboard {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
  }

  .teams-container {
    display: flex;
    gap: 20px;
  }
  
  /* Default - Team A on left */
  .left .team:first-child {
    order: 1;
  }
  .left .team:last-child {
    order: 2;
  }
  
  /* Swap positions - Team A on right */
  .right .team:first-child {
    order: 2;
  }
  .right .team:last-child {
    order: 1;
  }
  
  .team {
    text-align: center;
  }
  
  .score {
    font-size: 3rem;
    margin: 10px 0;
  }
  
  button {
    font-size: 1.5rem;
    margin: 5px;
  }
  
  /* Media Query for mobile devices */
  @media (max-width: 768px) {
    .scoreboard {
      flex-direction: column;
    }
  }


/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-mode .scoreboard {
  background-color: #1e1e1e;
  border: 1px solid #444;
}

.dark-mode button {
  background-color: #444;
  color: white;
}

.dark-mode button:hover {
  background-color: #666;
}